<div class="col-xs-10 col-xs-offset-1">
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by Aleks Real. An entrepreneurial-spirited software engineer that has a passion for weight lifting, soccer, and investing.
  </p>
    <br />
  <p>
    When he's not coding up new applications, you can find him in the gym!
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Aleks.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Aleks Real</h2>
    <br2 />
    <p>
      Aleks is a passionate software engineer that's based in Southern California.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />